@font-face {
    font-family: 'Montserrat';
    src: url('/font_logo.ttf') format('truetype');
}
*{
  margin: 0;
  font-family: sans-serif;
}
header{
  padding: 0 50px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 0, 212);
}
.logo{
  color: white;
  font-family: Montserrat;
}
a{
  margin: 0 10px 0 10px;
  text-decoration: none;
  font-weight: 600;

}
.hdr_link{
  color: white;
  transition: 0.3s;
}
.hdr_link:hover{
  color: slateblue;
}
.cards_main{
  padding: 25px;
}
.ff{
  margin-top: 64px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card_prod {
  padding: 15px;
  width: 350px;
  /* border: 1px solid; */
  border-radius: 15px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 11px grey;
}
.card_prod:hover{
  background-color: rgb(224, 224, 224);
  box-shadow: 0px 0px 15px black;

}
.title_prod{
  color: #818181;
}
.img_crd{
  width: 250px;
  height: 320px;
  border-radius: 8px;
  background: gray;
}
.background{
  position: fixed;
  width: 100%;
  height: 100%;
    /* background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,171,1) 0%, rgba(166,0,185,1) 100%); */
  background: rgba(255,0,171,1);
  box-shadow: 0 -200px 100px -120px crimson inset;
  animation: background 3s infinite alternate;
}
@keyframes background {
  50% {
    background: rgba(166,0,185,1);
    box-shadow: 0 -200px 100px -100px rgba(255,0,171,1) inset;
  }
}
.txt_bg{
  padding: 50px;
}
.big_logo{
  padding-top: 50px;
}
.wild-logo{
  width: 300px;
}

.txt_logo{
  font-size: 24pt;
  font-family: Montserrat;
  color: white
}

td{
  padding: 5px;
  border: 1px solid;
  transition: 0.3s;
  background-color: #fff;
}
td:hover{
background-color: gray;
}
.url-inp{
  width: 382px;
}
.prc_inp{
  width: 96px;
}
.PSetup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
}
form{
  margin-top: 128px;
  background-color: cyan;
  padding: 56px;
  border-radius: 12px;
  box-shadow: 0px 0px 15px black;

  
}
input, label{
  margin-bottom: 15px;
}
.sub_inp{
background-color: purple;
width: 128px;
height: 48px;
border: none;
border-radius: 14px;
color: white;
font-weight: 600;
font-size: 15pt;
cursor: pointer;
transition: 0.3s;
box-shadow: 0px 0px 8px black;


}
.sub_inp:hover{
  background-color:#cc00ff;
}
.prods_imgs{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.img1{
  width: 350px;
}

.sub_inp2{
  background-color: purple;
padding: 15px;
  border: none;
  border-radius: 14px;
  color: white;
  font-weight: 600;
  font-size: 15pt;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0px 0px 8px black;
  
  
  }
  .sub_inp2:hover{
    background-color:#cc00ff;
  }
  .search_inp{
    margin-top: 15px;
    width: 382px;
    height: 32px;
    border: 1px dotted;
    background-color: cornsilk;
    border-radius: 8px;
  }

  .srch{
    padding: 50px;
  }
  .loading_block{
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bb{
    margin-top: 128px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 8px black;
    background-color: #2aed;
  }

  .nnn{
    margin-top: 5px;
    margin-bottom: 5px;
    text-decoration: line-through;
  }